spring.application.name=task-manager-ia

spring.datasource.url=${DB_URL:jdbc:postgresql://TU_HOST_SUPABASE:5432/postgres}
spring.datasource.username=${DB_USERNAME:tu_usuario}
spring.datasource.password=${DB_PASSWORD}
spring.datasource.driver-class-name=org.postgresql.Driver

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect

groq.api.key=${GROQ_API_KEY}
groq.api.url=https://api.groq.com/openai/v1/chat/completions

server.port=${PORT:8080}
